@{
    ViewBag.Title = "Contact Us";
}
<div class="default_page">
    <div class="inner-content">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            Safari Golf Club of Texas<br />
            P.O. Box 10000<br />
            Houston, Texas 77011
        </address>

        <address>
            <strong>Email:</strong>
            <a href="mailto:safarigolftx@gmail.com">
                safarigolftx@gmail.com
            </a>
        </address>
        
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
            
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
