@{
    ViewBag.Title = "Contact";
}
<div class="default_page">
    <div class="inner-content" style="background-color:rgba(211,211,211,0.8); height: 350px;">
        <div class="row">

            <div class="col-md-2">
                <img src="~/Content/images/safari_golf_logo_20.png" width="120" />
            </div>

            <div class="col-md-6">
                <p>
                    Please send an email to <a href="mailto:safarigolftx@gmail.com" style="color: blue;">
                        safarigolftx@gmail.com
                    </a> with any inquiries or comments about the club. Provide contact information along with your email and one of the club officials will contact you.
                </p>

                <p>
                    For general information about the club, please visit @Html.ActionLink("this page", "About", "Home", null,
     new { @style = "color: blue;" }).
                </p>
            </div>

            <div class="col-md-4">
                <strong>Contact Information</strong>

                <address>
                    Safari Golf Club of Texas<br />
                    P.O. Box 10000<br />
                    Houston, Texas 77011
                </address>

                <address>
                    <strong>Email:</strong>
                    <a href="mailto:safarigolftx@gmail.com" style="color: blue;">
                        safarigolftx@gmail.com
                    </a>
                </address>


                <div class="fb-like" data-href="https://www.facebook.com/groups/363111028963" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

                <div class="fb-like" data-href="https://www.facebook.com/groups/363111028963" data-width="200" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
            </div>
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
