
@{
    ViewBag.Title = "Index";
}

<div class="default_page">
    <div class="inner-content" style="background-color:rgba(222,211,211,0.8); height: 350px;">
        <div class="row">
            <div class="col-md-10">
                <h2>Safari Golf Merchandise Coming Soon ...</h2>
            </div>
            <div class="col-md-2">
                <img src="~/Content/images/safari_golf_logo_20.png" width="120" />
            </div>

            <div class="col-md-10">
                <p>
                    <strong>We are in the process of sourcing t-shirts and other accessories. Please visit this page soon for more updates.</strong>
                </p>
            </div>
        </div>
    </div>
</div>

