
@{
    ViewBag.Title = "Index";
}

<div class="about_page">
    <div class="inner-content">
        <div class="col-md-12">
            <h1>@DateTime.Now.Year Schedule</h1>
            <div class="col-md-2 col-lg-2">
                <p>
                    <img src="~/Content/images/safari_golf_logo_20.png" width="100" style="float: left; margin: 10px 10px 10px 10px;" />
                </p>
            </div>

            <div class="col-md-4 col-lg-4">
                <strong>Confirmed Events :</strong>
                <ul>
                    <li>
                        <a href="http://www.evite.com/event/0060GU4U6ULUDEN3WEPG53Z2WMPBII/activity?gid=00BEGUYRPKLYR4ZQKEPG533YE6243Y" target="_blank">2017 Safari Champions Cup</a><br />
                        Feb. 25, 2017 - 11:00 AM<br />
                        South Shore Harbour Country Club<br />
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <p>
                        <strong>Below is the list of courses where we plan to host our tournaments for 2017:</strong>
                        <ul>
                            <li>Tour 18</li>
                            <li>Houston National</li>
                            <li>Sienna Plantation</li>
                            <li>Magnolia Creek</li>
                            <li>Clear Creek</li>
                            <li>Cypresswood</li>
                            <li>Greatwood</li>
                            <li>River Pointe</li>
                            <li>Quail Valley - La Quinta</li>
                            <li>Quail Valley - Eldorado</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p>Please visit this page regularly for updates to our @DateTime.Now.Year calendar. We will update this page as we confirm availability with the selected courses.</p>
                </div>
            </div>
        </div>
    </div>
</div>

